<section class="game">
    <!-- features to add to section 
    -hint button for hunting conditions
    -section for hide Beast until scouted out
    -elements section noting visibility, weather, wind, temp range
    -selction buttons in center scout, ready wpn, adujstments, engage
    -Display section to inform user what is happening
    -user name submit button section that disappers after submit push
    -ready wpn opens type of weapon to use pulldown section
    -bottom display user current set up
    -->
    <section class="activity"><h2>Let's see</h2></section>
    <section class="center-display">
        <section class="center-left-display"></section>
        <section class="center-mid-display"></section>
        <section class="center-right-display"></section>
    </section>
    <section class="player-stats"></section>
</section>