

/******************************************
/* BASE STYLES
/*******************************************/


/******************************************
/* LAYOUT
/*******************************************/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

main section {
     display: flex;
     justify-content: center;
     align-items: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/