

/******************************************
/* BASE STYLES
/*******************************************/
.welcome-panel h1 {
    font-size: 3rem;
}

/******************************************
/* LAYOUT
/*******************************************/

.welcome-panel {
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    gap: 8rem;
    height: 50vh;    
}

.welcome-panel {
    display: none;
}

.sim {
    display: flex;
}

.game {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: solid green;
}

.activity, .player-stats {
    flex-basis: 40%;
}

.center-display {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.start-btn {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #25d38c;
    animation: bounce 2s infinite alternate;
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}