

/******************************************
/* BASE STYLES
/*******************************************/
.welcome-panel h1 {
    font-size: 3rem;
}

/******************************************
/* LAYOUT
/*******************************************/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.welcome-panel {
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    gap: 8rem;
    height: 50vh;    
}

#simulation {
    display: hidden;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.start-btn {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #25d38c;
    animation: bounce 2s infinite alternate;
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}