/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: #121212;
    color: #eee;
    overflow: hidden;
}

a {
     color: #809fff;
}

/******************************************
/* LAYOUT
/*******************************************/


nav {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin: 2rem 5rem;
     padding: 0 2rem .7rem 2rem;    
     border-bottom: thin solid #848499;
}

nav.navbar {
     margin: 0;
}

nav ul {
     width: 50vw;
}
 
nav ul {
     display: flex;
     flex-direction: row;
     margin: 0;
     text-align: center;
}
 
nav ul li {
     display: flex;
     flex-direction: row;    
}
 
.nav-links {
     justify-content: space-between;
}
 
li a {
     font-size: 1.5rem;
     text-decoration: none;
}

main {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 93.3vh;
 }




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
